/* Home.css */


.about-section {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    animation: fadeInUp 1s ease;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A77FB9;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 1.5rem;
  }
  
  .icon {
    font-size: 2rem;
    color: #333;
  }
  
  .text-container h3 {
    margin-bottom: 0.5rem;
  }
  
  .text-container p {
    color: #666;
  }
  
  .footer {
    background-color: #f9f9f9;
    padding: 2rem;
    margin-top: auto;
    text-align: center;
    width: 100%;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 0.5rem;
    color: #333;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #000;
  }
  /* Home.css */
.card {
    background-color: rgb(243, 230, 238);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .icon-container {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .text-container {
    text-align: left;
  }
  
  .text-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .text-container p {
    font-size: 16px;
    color: #777;
  }

  #btn{
    background-color: #A77FB9;
    border: none;
    border-radius: 20px;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  